/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

$theme-background: #242226;
$theme-surface: #2E2B32;
$theme-text: #D0C2DE;
$theme-accent: #7F35B4;

body {
  background-color: $theme-background;
  color: $theme-text;
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p,
button {
  margin: var(--size-6);
}

body > picture,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

.reader {
  height: 100%;
  display: flex;
  flex-direction: row;
  .sidebar {
    background-color: $theme-surface;
    width: 250px;
  }
  .pdf-reader {
    flex-grow: 1;
  }
}
